.about{
	background-color: #262626;
	color: grey;
	font-family: orbitron;
	--padding: 15px;
}
.about p{
	padding-left: 15px;
	padding-right: 15px; 
	width: 70%;
	margin: 0px;
}
.about h2{
	margin: 0px;
	text-align: center;
}
.play1{
	background-color: #404040;
	width: 100%;
}
.collapse{
	height: 1000px;
}