#section1{
	position: relative;
	padding: 15px;
	background-image: url(../images/wood.png);
	min-height: 100vh;
	z-index: 2;
	box-shadow: 0px 4px 5px 0px black;
	color: white;
}
.diac{
	--font-size: 16px;
}
#section1 p{
	padding: 0px;
	margin: 0px;
	width: 60%;
	text-shadow: 2px 2px black;
	font-size: 25px;
}
#section1 .quote{
	text-align: center;
}
#section1 h1{
	font-weight: bold;
	text-shadow: 2px 2px black;
}

	#pipe{
		position: relative;
		left: 30%;
		top: -100px;
	}
	#pipe img{

	}

@media screen and (min-width: 1920px){
	#pipe{
		top: 0px;
	}
}
@media screen and (max-width: 684px){
	#section1 h1{
	font-weight: bold;
	text-shadow: 2px 2px black;
	text-align: center;
	}
	#section1 p{
		width: 100%;
		text-align: center;
	}

	#pipe{
		top: -50px;
	}

}
@media screen and (max-width: 500px){

}