#section3{
	position: relative;
	padding: 15px;
	color: grey;
	background-color: white;
	min-height: 100vh;
	box-shadow: 0px -4px 5px 0px black;
}
#section3 h2{
	text-align: center;
}
#section3 p{
	margin-bottom: 0px;
	text-align: center;
	font-size: 25px;
}
#section3 img{
	position: relative;
	width: 75%;
	left: 120px;
}