/*#owl-example .item{
    display: block;
    width: 100%;
    height: auto;
    --box-shadow: 0px 7px 20px 2px black;
}

#owl-example{
	box-shadow: 0px 7px 20px 2px black;
}*/

/*CAROUSEL*/
#section1{
	position: relative;
}
.carousel{
	overflow: hidden;
	box-shadow: 0px 4px 5px 0px black;
}
.carousel:hover img{
	animation-name: filter;
	animation-duration: .3s;
	--animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}
@keyframes filter{
	from {filter: greyscale(0); transform: scale(1);}
	to {filter: saturate(250%); transform: scale(1.1);}
}
.carousel-indicators{
	position: absolute;
	--top: 20%;
	height: 20px;
	--left: 90%;
	transform: scale(2);
	margin: 0px;
	opacity: .4;
}
.carousel-indicators .active{
	background-color: #00ff00;
}
.carousel-indicators li{
	border: 1px solid #00ff00;
	border-radius: 0px;
}
.carousel-indicators li:hover{
	animation-name: indicator;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}
@keyframes indicator{
	0% {background-color: white;}
	50% {background-color: #00ff00;}
	100% {background-color: white;}
}


@keyframes filter{
	from {filter: greyscale(0); transform: scale(1);}
	to {filter: saturate(250%); transform: scale(1.1);}
}
@keyframes indicator{
	0% {background-color: white;}
	50% {background-color: #00ff00;}
	100% {background-color: white;}
}

.carousel h1{
	margin-top: 25px;
	font-size: 20px;
}
.text1{
	position: absolute;
	top: -20px;
	left: 50%;
	width: 50%;
    font-size: 10px;

}
.text2{
	position: absolute;
	top:0px;
	left: 50px;
	width: 50%;
	font-size: 10px;
}
.text3{
	position: absolute;
	top: 0px;
	left: 50%;
}
.item{
	background-color: rgba(0,0,0, 0.7);
	overflow: hidden;
}

.img1{
	position: relative;
	width: 75%;
	left: -100px;
}
.img2{
	position: relative;
	width: 75%;
	left: 30%;
}
.img3{
	position: relative;
	width: 75%;
	left: -30%;
}
.detail{
	background-color: #404040;
	padding-top: 15px;

	background-image: url("../images/texture.png") !important;
  	background-repeat: repeat !important;
  	background-color: #181818 !important;
}
.detail p{
	position: relative;
	margin: 0px;
	margin-left: 15px;
	margin-right: 15px; 
	color: grey;
	font-family: russo one;

	width: 50%;
	text-shadow:-1.5px -1.5px 0 #000,  
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
}
.detail h2{
	position: relative;
	margin-left: 15px;
	color: grey;
	text-shadow:-1.5px -1.5px 0 #000,  
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
}
.detail a span{
	position: relative;
	width: 100%;
	color: #404040;
	background-color: #262626;
	font-size: 36px;
	text-align: center;

	animation-name: collapse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes collapse{
	0% {transform: translateY(15px);}
	50%{transform: translateY(5px);}
	100%{transform: translateY(15px);}
}



@keyframes shrink{
	from{height: 200px;}
	to{height: 0px;}
}
#break1{
	height: 200px;

	animation-duration: 2s;
	animation-fill-mode: forwards;
}




@media screen and (min-width: 925px){
  /*
  #owl-example{
  	max-height: 550px;
  	overflow: hidden;
  }*/
  .carousel{
  	--max-height: 450px;
  }
  .carousel h1{
  	margin: 0px;
  	font-size: 40px;
  }
  .text1{
	position: absolute;
	top:20px;
	left: 50%;
	width: 50%;
    font-size: 18px;
 }
  .text2{
	position: absolute;
	top:0px;
	left: 50px;
	width: 50%;
	font-size: 18px;
 }
 .text3{
	position: absolute;
	--top:-22px;
	left: 50%;
	width: 50%;
	font-size: 18px;
 }
  .img1{
	position: relative;
	width: 70%;
	--top: -150px;
	left: -200px;
 }
  .img2{
	position: relative;
	width: 70%;
	left: 30%;
 }
  .img3{
	position: relative;
	width: 70%;
	left: -30%;
 }
}
@media screen and (max-width: 575px){
.carousel h1{
	font-size: 16px;
}
.text1{
	position: absolute;
	top: -20px;
	left: 50%;
	width: 50%;
    font-size: 7px;

}
.text2{
	position: absolute;
	top:-22px;
	left: 50px;
	width: 50%;
	font-size: 7px;
}
.text3{
	position: absolute;
	top:-22px;
	left: 50%;
	width: 50%;
	font-size: 7px;
}

.img1{
	position: relative;
	width: 100%;
}
.img2{
	position: relative;
	width: 100%;
	left: 5%;
}
.img3{
	position: relative;
	width: 100%;
	left: -60%;
}
}