#section3{
	position: relative;
	background-color: #262626;
	height: 100vh;
	box-shadow: 0px -4px 5px 0px black;
}

#section #leftHalf{
	position: relative;
	top: 25%;
	left: -70%;
	background-color: green;
	border: 3px solid black;
	width: 100vw;
	height: 100vh;
	transform: rotate(-45deg);
	z-index: 2;
}