#section2{
	position: relative;
	padding: 15px;
	background-color: #262626; /*#009688;*/
	color: red;
	min-height: 100vh;
	z-index: 1;
}
#section2 p{
	padding: 0px;
	margin: 0px;
	width: 60%;
	
	font-size: 25px;
}

@media screen and (max-width: 684px){
	#section2 p{
		font-size: 12px;
	}
}