<div class="company">
	<link rel="stylesheet" href="../styles/company.css">
	<h1>Generalities</h1><br>
	<p>
	<b>IT Systems International</b> is a dynamic software house offering turn-key on demand or on the shelf enterprise systems, as well as technical consultancy and services. Our experienced team ensures high availability, reliability and security solutions for both, private and government sector. Combining our technical expertise core with competencies and the global business understanding, the company is surging ahead, providing and enables technology solutions that seamlessly plug into the customer's critical business processes.
	</p>
<br>
	<h1>Vision</h1><br>
	<p>
		All organizations must adopt e-business solutions in order to evolve and prosper. And we are a company with view to the future, understanding that the success of our partners' business stands in the quality of the IT infrastructure they use.
	</p>
	<br>
	<h1>Mission</h1><br>
	<p>
		Our mission is to build tomorrow's software applications and become the preferred source of IT solutions for the professional marketplace, by offering top-quality, innovative products at a competitive cost and providing friendly customer support.
	</p>
	<br>
	<h1>Business Models</h1><br>
	<p>
		Strong technology and operations are supported by a total commitment to customer service, both pre and post-implementation of a new program. We build strong relationships with our customers and ensure they have an in depth understanding of their business.
	</p>
	<br>
	<h1>Portofolio</h1><br>
	<p>
		IT Systems International's portofolio contains, among others, the following key products:
		<br><br>
		Electronic Card Solution, version 3.1, which implements the whole information chain running by a card operator
 		<br><br>
		IT Safesea, which implements the whole package for Vessel Traffic Management and Control Systems
	</p>
	<br>
	<h1>Products and Technology</h1>
	<br>
	<p>
		IT Systems International brings a significant experience in software application development, creating high-performance, secure and scalable, customized applications and web-based enterprise components.
<br><br>
		We gained this experience by:
<br><br>
		structuring high-performance software solutions, using optimum IT platforms;
 <br><br>
		analyzing, implementing, configuring and maintaining multi-language systems.<br><br>
		We provide turn-key and on-demand solutions or IT assistance to our partners during various phases of the solution implementation processes.
<br><br>
		Technologies:
<br><br>
		Java and Java to Enterprise Edition (J2EE)
<br><br>
		Java Card and Java to Micro Edition (J2ME)
<br><br> 
		XML documents and schemes
<br><br>
		Oracle technologies: PL-SQL, Java (jSQL), XML
<br><br>
		GIS, ESRI or open source platform
<br><br>
		.NET technology
<br><br>
		C/C++ (for controllers and hardware devices' programming e.g. acquisition, monitoring and data control)
	</p>
	<br>
	<h1>Main Solutions</h1><br>
	<p>
		distributed multi-threaded or client-server applications;
 <br><br>
		complex applications based on sophisticated algorithms;
<br><br> 
		multi-dimensional analysis;
<br><br> 
		acquisition, monitoring and data control applications;
<br><br> 
		back-end software, involving enterprise web-based business applications;
<br><br> 
		GUI of various complexity levels;
<br><br> 
		large amount of data in the database.<br><br>
		Application services provided by IT Systems International include design, development, quality assurance, testing and maintenance. We assist our clients in both creating new applications and up-grading existing applications with web-based technology, by providing a range of services that include:
<br><br>
		design and development of enterprise applications;
<br><br> 
		re-engineering of existing applications;
<br><br> 
		database development;
<br><br> 
		web-enabling applications;<br>
		global applications for new market;
<br><br> 
		customization and integration of third-party software.
	</p>
</div>
