<div class='container' id='mainv'>
<link rel="stylesheet" href="../styles/mainv.css">




<section id='section1' ng-controller="SectionCtrl2">
  <link rel="stylesheet" type="text/css" href="../styles/section1.css">

    <div data-aos='fade-right' data-aos-anchor='#section1' data-aos-anchor-placement="top-center">
    <h1>Noi</h1>
      <p>
        
        Frizeria este o altfel de artă. Suntem pasiona<span class='diac'>ț</span>i <span class='diac'>ș</span>i punem suflet.<br> 
        Am conturat acest spațiu în întregime pentru bărba<span class='diac'>ț</span>i.<br>
        Imaginea unui bărbat, igiena <span class='diac'>ș</span>i felul în care arata sunt extrem de importante. <br>
        A<span class='diac'>ș</span>teptăm să ne calce pragul oameni care apreciează <span class='diac'>ș</span>i acordă aten<span class='diac'>ț</span>ie aspectului, părului <span class='diac'>ș</span>i imaginii de sine, dar mai mult decât atât, suntem interesa<span class='diac'>ț</span>i să interacționam cu oameni grăbi<span class='diac'>ț</span>i, ocupa<span class='diac'>ț</span>i, care i<span class='diac'>ș</span>i doresc, în ciuda lipsei timpului, să i<span class='diac'>ș</span>i creeze un stil original, personal.<br>
        <p class="quote">-Echipa Frizeria Mică</p>
      </p>
    </div>
    <div id='pipe' data-aos='fade-left' data-aos-anchor-placement="top-center">
      <img src="../images/pipe.png">
    </div>
    

</section>


<section id="section2" ng-controller='MainCtrl'>
<link rel="stylesheet" type="text/css" href="../styles/section2.css">

<div id="owl-sec2" class="owl-carousel">
  <div class="item"  data-toggle="collapse" data-target="#detail" ng-click="scroll('#detail', 350); cbtn(1);"> 
  <a>
      
    
      <span class="text1">
      <h1>Lorem</h1>
      <p>
        Starting from 2008, IT Systems International has launched the IT Safesea - a new software solution developed by an enthusiastic and professional team.
        <br><br>
        IT Safesea is a Vessel Traffic Management and Control system and the main area of interest are Ports, Harbors and Coastal Areas. The purpose of any Vessel Traffic Management and Information Systems (VTMS) is to provide the operator with a clear and concise real-time portrayal of vessel movements and interactions in the surveillance area in order to support on-duty decisions.
      </p>
      
    </span>
    </a>

  </div>
  <div class="item" data-toggle="collapse" data-target='#detail2' ng-click="scroll('#detail2', 350); cbtn(2);">
    <a>
          <span class="text2">
          <h1>Ipsum</h1>
          <p>
            Electronic Card Solution (ECS) is a integrated card management software system designed for online card-based transactions that take place at multiple points of sale in the retail industry (e.g. gas stations, chain stores, etc.).
            <br><br>
            <span class="glyphicon glyphicon-chevron-right"></span>
            Different types: RFID, Magnetic stripe, Smart Cards or a combination of all these;
            <br><br>
            <span class="glyphicon glyphicon-chevron-right"></span>
            Different functions: Debit, Credit, Pre-paid, Fidelity, Cards for employees, Cards for internal use;
            the system also accepts 3rd Party Cards;
            <br><br>
            <span class="glyphicon glyphicon-chevron-right"></span>
            Different constraints (colors) defined as default: Standard, Silver, Gold. The default color can be modified upon the B2B specific contract clauses.
          </p>
          
          </span>
          </a>
  </div>
  <div class="item"  data-toggle="collapse" data-target='#detail3' ng-click="scroll('#detail3', 350); cbtn(3);">
    <a>
        <span class="text3">
          <h1>Dolor</h1>
          <p>
            The system offers support not only to monitor the location with minimal error margin, but also to trigger automated alerts when several pre-defined events occur. In these situations, the handset application is capable of sending information to emergency numbers either by direct call or via ITS Locator server processes. Based on the gravity of the situation, some procedures may imply recorded voice messages to assist the handset holder or even direct talk to instruct emergency measures.
          </p>
        </span>
        </a>
  </div>
</div>


 

<div id="detail" class="collapse detail">
<h2>Features</h2>

<a href="">
<span class="glyphicon glyphicon-chevron-up" data-toggle='collapse' data-target='#detail' ng-click="scroll('#section3', 350)"></span>
</a>
</div>
<div id="detail2" class="collapse detail">

<h2>Benefits</h2>


<h2>Technologies</h2>


<a href="">
<span class="glyphicon glyphicon-chevron-up" data-toggle='collapse' data-target='#detail2' ng-click="scroll('#section3', 350)"></span></a>
</div>
<div id="detail3" class="collapse detail">

<h2>Benefits</h2>

<a href="">
<span class="glyphicon glyphicon-chevron-up" data-toggle='collapse' data-target='#detail3' ng-click="scroll('#section3', 350);"></span></a>
</div>

</section>



<section id='section3'>
  <link rel="stylesheet" type="text/css" href="../styles/section3.css">

  <h2>Servicii&Program</h2>
  <div class="inset" style="overflow: hidden;"> 
    <div>
    <table id='table1' class="table table-hover" style='margin-bottom: 0px;'>
    <thead>
      <tr>
        <th>Serviciu</th>
        <th>Preț</th>
        <th>Durata Estimat<span style='font-size: 24px'>ă</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tuns Clasic</td>
        <td>13 RON</td>
        <td>15min</td>
      </tr>
      <tr>
        <td>Tuns Zero</td>
        <td>8 RON</td>
        <td>10min</td>
      </tr>
      <tr>
        <td>Tuns Copii</td>
        <td>10 RON</td>
        <td>10min</td>
      </tr>
      <tr>
        <td>Tuns Pensionari</td>
        <td>10 RON</td>
        <td>10min</td>
      </tr>
      <tr>
        <td>Tuns Barba</td>
        <td>6 RON</td>
        <td>15min</td>
      </tr>
      <tr>
        <td>Tuns Mustața</td>
        <td>4 RON</td>
        <td>15min</td>
      </tr>
      <tr>
        <td>Bărbierit - Aparat de unică folosință</td>
        <td>10 RON</td>
        <td>15min</td>
      </tr>
      <tr>
        <td>Bărbierit - La Brici</td>
        <td>14 RON</td>
        <td>15min</td>
      </tr>
      <tr>
        <td>Frecție/Masaj Capilar</td>
        <td>6 RON</td>
        <td>10min</td>
      </tr>
      <tr>
        <td>Spălare Scalp</td>
        <td>5 RON</td>
        <td>5min</td>
      </tr>
      <tr>
        <td>Contur + Perciuni</td>
        <td>6 RON</td>
        <td>5min</td>
      </tr>
      <tr>
        <td>Fixativ</td>
        <td>3 RON</td>
        <td>5min</td>
      </tr>
      <tr>
        <td>Spumă</td>
        <td>3 RON</td>
        <td>5min</td>
      </tr>
      <tr>
        <td>Uscat Păr</td>
        <td>2 RON</td>
        <td>5min</td>
      </tr>
      <tr>
        <td>Aranjat Perie/Placă</td>
        <td>4 RON</td>
        <td>10min</td>
      </tr>
      <tr>
        <td>Tuns Barba + Aranjat Barba</td>
        <td>10 RON</td>
        <td>15min</td>
      </tr>
    </tbody>
    </table>
    </div>
  </div>
  <br><br>
  <div class="inset" id='calendar'></div>

</section>

<section id='section4' ng-controller='ContactCtrl'>
  <link rel="stylesheet" type="text/css" href="../styles/section4.css">
  
  <div style="border-bottom: 3px solid black;" id='info'><br>
  <span id='facebook'>
      <a href="https://www.facebook.com/frizeriamica/">
      <img src="images/facebook.png">
      
      <p style="position: relative; top: 10px; font-size: 20px; display: inline; font-family: pacifico;">
      rizeria Mică
      </p>
      </a>
  </span>
  <br>
  +4 031 105.08.87<br>
  +4 031 105.08.86<br>
  office@frizeria-mica.ro<br>
  </div>
  <!--
  <iframe id='map' src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1007.2777787822032!2d26.11097509892166!3d44.43292033966398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sro!4v1475049367596" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->

  <iframe id='map' src="https://www.google.com/maps/d/embed?mid=1XwV2dMNxBnin_GxcHnR0VOxxDNs" width="100%" height="480"></iframe>
  
</section>


</div>

