<div class='container' id='mainv'>
<link rel="stylesheet" href="../styles/mainv.css">





<section id='section1' ng-controller="SectionCtrl2">
  <link rel="stylesheet" type="text/css" href="../styles/section1.css">

    <div data-aos='fade-right' data-aos-anchor='#section1' data-aos-anchor-placement="top-center">
    <h1>Lorem</h1>
      <p>
        
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div id='cogs' data-aos='fade-left' data-aos-anchor-placement="top-center">
      <img src="../images/pipe.png">
    </div>
    

</section>


<section id="section2" ng-controller='MainCtrl'>
<link rel="stylesheet" type="text/css" href="../styles/section2.css">

<div id="owl-example" class="owl-carousel">
  <div class="item"  data-toggle="collapse" data-target="#detail" ng-click="scroll('#detail', 350); cbtn(1);"> 
  <a>
      
    
      <span class="text1">
      <h1>Lorem</h1>
      <p>
        Starting from 2008, IT Systems International has launched the IT Safesea - a new software solution developed by an enthusiastic and professional team.
        <br><br>
        IT Safesea is a Vessel Traffic Management and Control system and the main area of interest are Ports, Harbors and Coastal Areas. The purpose of any Vessel Traffic Management and Information Systems (VTMS) is to provide the operator with a clear and concise real-time portrayal of vessel movements and interactions in the surveillance area in order to support on-duty decisions.
      </p>
      
    </span>
    </a>

  </div>
  <div class="item" data-toggle="collapse" data-target='#detail2' ng-click="scroll('#detail2', 350); cbtn(2);">
    <a>
          <span class="text2">
          <h1>Ipsum</h1>
          <p>
            Electronic Card Solution (ECS) is a integrated card management software system designed for online card-based transactions that take place at multiple points of sale in the retail industry (e.g. gas stations, chain stores, etc.).
            <br><br>
            <span class="glyphicon glyphicon-chevron-right"></span>
            Different types: RFID, Magnetic stripe, Smart Cards or a combination of all these;
            <br><br>
            <span class="glyphicon glyphicon-chevron-right"></span>
            Different functions: Debit, Credit, Pre-paid, Fidelity, Cards for employees, Cards for internal use;
            the system also accepts 3rd Party Cards;
            <br><br>
            <span class="glyphicon glyphicon-chevron-right"></span>
            Different constraints (colors) defined as default: Standard, Silver, Gold. The default color can be modified upon the B2B specific contract clauses.
          </p>
          
          </span>
          </a>
  </div>
  <div class="item"  data-toggle="collapse" data-target='#detail3' ng-click="scroll('#detail3', 350); cbtn(3);">
    <a>
        <span class="text3">
          <h1>Dolor</h1>
          <p>
            The system offers support not only to monitor the location with minimal error margin, but also to trigger automated alerts when several pre-defined events occur. In these situations, the handset application is capable of sending information to emergency numbers either by direct call or via ITS Locator server processes. Based on the gravity of the situation, some procedures may imply recorded voice messages to assist the handset holder or even direct talk to instruct emergency measures.
          </p>
        </span>
        </a>
  </div>
</div>


 

<div id="detail" class="collapse detail">
<h2>Features</h2>

<a href="">
<span class="glyphicon glyphicon-chevron-up" data-toggle='collapse' data-target='#detail' ng-click="scroll('#section3', 350)"></span>
</a>
</div>
<div id="detail2" class="collapse detail">

<h2>Benefits</h2>


<h2>Technologies</h2>


<a href="">
<span class="glyphicon glyphicon-chevron-up" data-toggle='collapse' data-target='#detail2' ng-click="scroll('#section3', 350)"></span></a>
</div>
<div id="detail3" class="collapse detail">

<h2>Benefits</h2>

<a href="">
<span class="glyphicon glyphicon-chevron-up" data-toggle='collapse' data-target='#detail3' ng-click="scroll('#section3', 350);"></span></a>
</div>

</section>



<section id='section3'>
  <link rel="stylesheet" type="text/css" href="../styles/section3.css">

<div data-aos='fade-up' data-aos-anchor='#section3' data-aos-anchor-placement="top-center">
  <h2>Lorem Ipsum Dolor</h2> 
  <p>
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
  </p>
  </div>
  <img src="../images/endline.png">
</section>

<section id='section4' ng-controller='ContactCtrl'>
  <link rel="stylesheet" type="text/css" href="../styles/section4.css">
  
  <div>
  <div style="border-bottom: 3px solid black;">
  <img id='label' src="../images/label.png">
  <br>
  <span id='facebook'>
      <a href="https://www.facebook.com/frizeriamica/">
      <img src="images/facebook.png">
      </a>
  </span>
  <div>ASD</div>
  +4 031 105.08.87<br>
  +4 031 105.08.86<br>
  office@frizeria-mica.ro<br>
  </div>
  </div>

  <iframe id='map' src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1007.2777787822032!2d26.11097509892166!3d44.43292033966398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sro!4v1475049367596" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  
</section>


</div>

