<div class='container' id='mainv' ng-controller='MainCtrl'>
<link rel="stylesheet" href="../styles/mainv.css">
<!--
<div id="owl-example" class="owl-carousel">
  <div class="item"> 
  <a data-toggle="collapse" data-target="#detail" ng-click="cbtn(1);">
      <img class="img1" src="../images/itship.png">
      
    
      <span class="text1">
      <h1>IT Safesea</h1>
      <p>
        Starting from 2008, IT Systems International has launched the IT Safesea - a new software solution developed by an enthusiastic and professional team.
        <br><br>
        IT Safesea is a Vessel Traffic Management and Control system and the main area of interest are Ports, Harbors and Coastal Areas. The purpose of any Vessel Traffic Management and Information Systems (VTMS) is to provide the operator with a clear and concise real-time portrayal of vessel movements and interactions in the surveillance area in order to support on-duty decisions.
      </p>
      
    </span>
    </a>

  </div>
  <div class="item">
    <a  data-toggle="collapse" data-target='#detail2' ng-click="cbtn(2)">
          <img class="img2" src="../images/card.png">
          <span class="text2">
          <h1>Electronic Card Solutions</h1>
          <p>
            Electronic Card Solution (ECS) is a integrated card management software system designed for online card-based transactions that take place at multiple points of sale in the retail industry (e.g. gas stations, chain stores, etc.).
            <br><br>
            <span class="glyphicon glyphicon-chevron-right"></span>
            Different types: RFID, Magnetic stripe, Smart Cards or a combination of all these;
            <br><br>
            <span class="glyphicon glyphicon-chevron-right"></span>
            Different functions: Debit, Credit, Pre-paid, Fidelity, Cards for employees, Cards for internal use;
            the system also accepts 3rd Party Cards;
            <br><br>
            <span class="glyphicon glyphicon-chevron-right"></span>
            Different constraints (colors) defined as default: Standard, Silver, Gold. The default color can be modified upon the B2B specific contract clauses.
          </p>
          
          </span>
          </a>
  </div>
  <div class="item">
    <a  data-toggle="collapse" data-target='#detail3' ng-click="cbtn(3)">
        <img class="img3" src="../images/boatingf.png">
        <span class="text3">
          <h1>ITS Locator</h1>
          <p>
            The system offers support not only to monitor the location with minimal error margin, but also to trigger automated alerts when several pre-defined events occur. In these situations, the handset application is capable of sending information to emergency numbers either by direct call or via ITS Locator server processes. Based on the gravity of the situation, some procedures may imply recorded voice messages to assist the handset holder or even direct talk to instruct emergency measures.
          </p>
        </span>
        </a>
  </div>
</div>-->


  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000" >
  
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  
  <div class="carousel-inner" role="listbox">
    
    <div class="item active">
    <a href="" data-toggle="collapse" data-target="#detail" ng-click="cbtn(1);">
      <img class="img1" src="../images/itship.png">
      
    
      <span class="text1">
      <h1>IT Safesea</h1>
      <p>
        Starting from 2008, IT Systems International has launched the IT Safesea - a new software solution developed by an enthusiastic and professional team.
        <br><br>
        IT Safesea is a Vessel Traffic Management and Control system and the main area of interest are Ports, Harbors and Coastal Areas. The purpose of any Vessel Traffic Management and Information Systems (VTMS) is to provide the operator with a clear and concise real-time portrayal of vessel movements and interactions in the surveillance area in order to support on-duty decisions.
      </p>
      
    </span>
    </a>
    </div>


    <div class="item">
    <a href="" data-toggle="collapse" data-target='#detail2' ng-click="cbtn(2)">
          <img class="img2" src="../images/card.png">
          <span class="text2">
          <h1>Electronic Card Solutions</h1>
          <p>
            Electronic Card Solution (ECS) is a integrated card management software system designed for online card-based transactions that take place at multiple points of sale in the retail industry (e.g. gas stations, chain stores, etc.).
            <br><br>
            <span class="glyphicon glyphicon-chevron-right"></span>
            Different types: RFID, Magnetic stripe, Smart Cards or a combination of all these;
            <br><br>
            <span class="glyphicon glyphicon-chevron-right"></span>
            Different functions: Debit, Credit, Pre-paid, Fidelity, Cards for employees, Cards for internal use;
            the system also accepts 3rd Party Cards;
            <br><br>
            <span class="glyphicon glyphicon-chevron-right"></span>
            Different constraints (colors) defined as default: Standard, Silver, Gold. The default color can be modified upon the B2B specific contract clauses.
          </p>
          
          </span>
          </a>
    </div>


    <div class="item">
    <a href="" data-toggle="collapse" data-target='#detail3' ng-click="cbtn(3)">
        <img class="img3" src="../images/boatingf.png">
        <span class="text3">
          <h1>ITS Locator</h1>
          <p>
            The system offers support not only to monitor the location with minimal error margin, but also to trigger automated alerts when several pre-defined events occur. In these situations, the handset application is capable of sending information to emergency numbers either by direct call or via ITS Locator server processes. Based on the gravity of the situation, some procedures may imply recorded voice messages to assist the handset holder or even direct talk to instruct emergency measures.
          </p>
        </span>
        </a>
    </div>

  </div>
  

  <!-- Left and right controls
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>-->
    </div>
<div id="detail" class="collapse detail">
<h2>Features</h2>
<p>
  The VTS system uses multiple components (hardware, software, sensors) and provides basic functionality, interfaces and integration capabilities such as:
<br><br>
<span class="glyphicon glyphicon-asterisk"></span>
Multi sensor processing (Radar, AIS, RDF, CCTV, Meteo)<br>
<span class="glyphicon glyphicon-asterisk"></span>
Advanced radar and data processing<br>
<span class="glyphicon glyphicon-asterisk"></span>
User-friendly Traffic Display System, GIS centric<br>
<span class="glyphicon glyphicon-asterisk"></span>
Integrated recording & replay (data/voice)<br>
<span class="glyphicon glyphicon-asterisk"></span>
Vessel Traffic Management System (VTMIS = VTS + Database)<br>
<span class="glyphicon glyphicon-asterisk"></span>
Traffic simulation tools for training purposes<br><br>
All IT Safesea VTMS components can be configured to build systems ranging from small to very large ones, due to its modular design and the ability to interface other sensors like AIS, RDF and meteorological sensors.
<br><br>
To increase the safety in the movement area a Conflict Detection unit is an essential part of the IT Safesea system to allow for automatic detection of future potential traffic conflicts or situations.
<br><br>
The Conflict Detection is based on the evaluation and prediction of the movement of tracks obtained by processing the sensor data and topology data (restricted areas, etc.) the traffic situation is analyzed to trigger configured events and traffic rule infringements, such as:
<br><br>
<span class="glyphicon glyphicon-asterisk"></span>
A track crossing an active guard line<br>
<span class="glyphicon glyphicon-asterisk"></span>
A track entering an active guard ring or a guard area<br>
<span class="glyphicon glyphicon-asterisk"></span>
A track leaving a buoy ring or a swing circle<br>
<span class="glyphicon glyphicon-asterisk"></span>
A track exceeding an area specific speed limit<br>
<span class="glyphicon glyphicon-asterisk"></span>
A track entering an active prohibited or restricted area<br>
<span class="glyphicon glyphicon-asterisk"></span>
A track entering a special area slaved to another track (area collision conflict)<br>
<span class="glyphicon glyphicon-asterisk"></span>
Two selected tracks can be on collision course, etc.<br>
<span class="glyphicon glyphicon-asterisk"></span>
Synchronized REPLAY function using GIS, video and voice records<br><br>
Together with C.S.R. (Centrul pentru Servicii de Radio-comunicaţii), one of the well known system integrator on the Romanian market, the IT Safesea has been implemented at Romanian Naval Authority, for Constanza harbor.<br>
</p>
<a href="">
<span class="glyphicon glyphicon-chevron-up" data-toggle='collapse' data-target='#detail'></span>
</a>
</div>
<div id="detail2" class="collapse detail">

<h2>Benefits</h2>
<p>
<span class="glyphicon glyphicon-asterisk"></span>
 Sales increase by building on customers' loyalty;
 <br><br>
 Efficient advertising tool;
 <br><br>
 Possibility to offer credit, debit and fidelity cards under company's own brand;
 <br><br>
 Establishing long-term and profitable provider-customer relationships;
 <br><br>
 Support for understanding consumers buying patterns;
 <br><br>
 Possibility to motivate company's personnel by implementing cards for employees;
 <br><br>
 Accurate evidence of internal consumption;
 <br><br>
 Cash-flow forecasts upon statistics;
 <br><br>
 Excellent support for SWOT analysis and management decisions through a large scale of reports and statistics available;
 <br><br>
 Powerful risk assessment management tool;
 <br><br>
 Optimizing the activity of the customer care department;
 <br><br>
 Transparency in clients' relationship through the front-office module;
 <br><br>
 Reducing necessary paperwork in the transaction process.<br><br>
 Electronic Card Solution is a secure online card-based transaction application designed as an open system, easy to integrate with other existing systems.<br>
</p>

<h2>System Features</h2>
<p>
Real-time transaction authentication and transaction management;
<br><br> 
Real-time available information;
<br><br> 
The authorization access to the system is based on granted access and roles for users and on certificates for transactions;
<br><br> 
Secure, instant access to customer account;
<br><br> 
Increased transaction security at POS;
<br><br> 
Incorporated e-payment solution;
<br><br>
Concurrent access to information (customer information, contract terms, number and type of cards, cards activation date, invoicing date, payment due date, penalty value, discounts, monthly/daily limits, etc.);
 <br><br>
Two levels of accounts managed: the customer and card accounts;
 <br><br>
Possibility to set daily/monthly transaction limits;
account customization at any moment in time based on the consumer-provider business contract's statements;
 <br><br>
History of all the activities in the system;
 <br><br>
Accounts monitoring with invoicing capabilities;
 <br><br>
Multi-language and multi-currency application;
 <br><br>
Modern technologies: J2EE and Oracle 10g;
 <br><br>
Scalability and portability;
 <br><br>
Friendly and easy-to-use interfaces.
</p>

<h2>Architecture</h2>
<p>
Electronic Card Solution includes different modules that ensure coverage of all the functionalities defining the transaction flow:
 <br><br>
The Subscriber Management;
 <br><br>
The Card Issuing and Management;
 <br><br> 
The Online Authentication Module;
 <br><br>
The Transaction Management Module: includes an offline authentication mechanism in case of network breakdown;
 <br><br>
The Billing System;
 <br><br>
The Clearing System;
 <br><br>
The Coordination System;
 <br><br>
The Application Management;
 <br><br>
The Front-office/Web-page Module.
</p>

<h2>Technologies</h2>
<p>
Electronic Card Solution is a multi-tier solution that incorporates:
 <br><br>
<span class="glyphicon glyphicon-asterisk"></span>
The Card Management Application Server [AppServer] - built on a J2EE platform; implements the Business Logics and the communication gateway for all the other software components in the system;
 <br><br>
<span class="glyphicon glyphicon-asterisk"></span>
The Card Management Transaction Server [TransactServer] - provides the mechanism to authenticate and manage the transactions requested from different POSs in the system;
 <br><br>
<span class="glyphicon glyphicon-asterisk"></span>
The Card Management Database Server [DBServer] - implements the Business Logics constraints; stores all the information coming from the AppServer;
 <br><br>
<span class="glyphicon glyphicon-asterisk"></span>
The Card Management WebServer - implements the browser-based user interfaces and sends them over a SSL connection; the integrated Customer Information Center gives customers access to their related information over the Internet.
<br><br>
The entire solution is built on a J2EE platform and Oracle 10g is used in the back-end, a powerful and secure database engine, which confers a high level of scalability and portability.
 <br><br>
Electronic Card Solution provides all necessary elements for a complete integrated system.
</p>

<h2>Main Reference: Lukoil Downstream Romania</h2>

<a href="">
<span class="glyphicon glyphicon-chevron-up" data-toggle='collapse' data-target='#detail2'></span></a>
</div>
<div id="detail3" class="collapse detail">

<h2>Benefits</h2>
<p>
General people surveillance (personnel monitoring and tracking):
 <br><br>
Assistance for people with special medical care needs;
 <br><br>
Reduction of missing children and kidnapping, increase of child protection;
 <br><br>
Assistance in outdoor activities, leisure activities monitoring;
 <br><br>
Professional and fast alarm/event response management when the emergency alert is triggered;
 <br><br>
Asset tracking and recovering;
 <br><br>
Vehicle tracking in real-time, allowing online tracking and monitoring of heading, speed, time & vehicle status;
 <br><br>
ITS Locator creates the support for applications to monitor and manage field personnel such as soldiers, police agents, law enforcement officers, reducing the high risks involved in their daily activities.
</p>

<h2>System Features</h2>
<p>
GPS Java and non-Java terminals for GSM/TETRA;
 <br><br>
Multi-language support;
 <br><br>
Database message storage;
 <br><br>
Location and over-the-air programming;
 <br><br>
Open platform for vehicle & people tracking;
 <br><br>
Direction provided while in motion;
 <br><br>
Short monitoring feature;
 <br><br>
Speed monitoring.
</p>

<h2>How Does It Work?</h2>
<p>
ITS Locator can be used as an emergency cellular phone application, with an automatic feature to dial the emergency number and with the capability of sending location information for immediate assistance in case of emergency. ITS Locator can also be used for real-time monitoring over the Internet, by sending GPS messages to a control center.
<br><br>
The system offers location service for children, family members, VIPs, valuable property, as well as for mobile sales force, mobile assets or teams deployed in field operations.
</p>

<h2>Technologies</h2>
<p>
Secure, scalable, open and multi-tier architecture;
 <br><br>
J2EE and Oracle 10g on server side;
 <br><br>
Portable back-end: runs on Linux or Windows 2003;
 <br><br>
Portable front-end: runs on Java handsets and a number of specific non-Java phones;
 <br><br>
Browser-based user interface;
 <br><br>
Flexible and robust solution.
</p>
<a href="">
<span class="glyphicon glyphicon-chevron-up" data-toggle='collapse' data-target='#detail3'></span></a>
</div>
</div>

